[core]
	editor = nvim
	excludesfile = /Users/andreas.thoelke/.gitignore_global
[user]
	name = Andreas Thoelke
	email = andreas.thoelke@gmail.com
[pager]
	status = false
[diff]
	tool = vimdiff
[alias]
	co = checkout
  publish = "!f() { git add -u ; git commit -m \"$1\" ; git push ; }; f"

  ci = commit
  st = status
  br = branch
  unstage = reset HEAD --
  ap = add --patch
  tl = tag -l -n5
  tagls = tag -l -n5
  last = log -1 HEAD
  hist = log --pretty=format:\" %s%d | %ad | %h \" --graph --date=short
  visual = !gitk
data=short
  type = cat-file -t
  dump = cat-file -p





[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
